
# C.S.V. BEACON local maintenance / generated cleanup files
apply_*.sh
repair_*.sh
rollback_*.sh
audit_*.sh
inspect_*.sh
continue_*.sh
stabilize_*.sh
restore_*.sh
disable_*.sh
archive_*.sh
compress_*.sh
force_*.sh
make_chatgpt_project_snapshot.sh
_CHATGPT_PROJECT_SNAPSHOT_*.txt
backup_before_*/
_post_stats_*/
public/_post_stats_*/
public/*.bak_*
public/*.pre_restore_*
public/*.before_*
public/*_APPLIED.txt
public/*_DONE.txt
public/*_ROLLED_BACK.txt
public/*_REPAIRED.txt
public/POST_STATS_*.txt
public/AUTH_KEY_REPAIR_APPLIED.txt
public/CSV_BEACON_BRANDING_BATCH_3_APPLIED.txt
_maintenance_archive*.tar.gz
